In [3]:
import sqlite3 as sql
import math
import catalog_utils as cu

In [10]:
def compute_alpha(constr, source):
    con = sql.connect(constr)
    cur = con.cursor()
    target = source+'_alpha'
    cur.execute('''CREATE TABLE '''+ target +''' AS 
                   SELECT desig, Type, mKs, m3_6, m4_5, m5_8, m8_0, m24,
                   1 - 0.4 * (m3_6 - mKs)/0.222 AS alpha1,
                   1 - 0.4 * (m4_5 - m3_6)/0.0969 AS alpha2,
                   1 - 0.4 * (m5_8 - m4_5)/0.110 AS alpha3,
                   1 - 0.4 * (m8_0 - m5_8)/0.140 AS alpha4,
                   1 - 0.4 * (m24 - m8_0)/0.477 AS alpha5
                   FROM '''+ source +''' WHERE Type = 1 OR Type = 2''')
    return 0

In [11]:
compute_alpha('/home/kecai/w49/w49test.db', 'gtw49')

0