In [1]:
import pandas as pd
import pandas.io.sql as pd_sql
import sqlite3 as sql
import numpy as np
from pandas import Series, DataFrame
import math

In [8]:
gutermuth = pd.read_csv('/home/kecai/w49/gutermuth.tbl', sep = ',', header = None, skiprows = 1, \
                        names = ['desig', 'ra', 'dec',
                                 'm3_6', 'm4_5', 'm5_8', 'm8_0', 'm24', 'mJ', 'mH', 'mKs',
                                 'dm3_6', 'dm4_5', 'dm5_8', 'dm8_0', 'dm24', 'dmJ', 'dmH', 'dmKs', 
                                 'Type', 'Phase', 'f_Type', 'alpha', 'M', 'W'
                                  ],\
                             na_values = 'null')
con = sql.connect('/home/kecai/w49/w49test.db')
gutermuth.to_sql("gtw49_original", con, if_exists = 'replace', index = False)
con.commit()

In [9]:
con = sql.connect('/home/kecai/w49/w49test.db')
cur = con.cursor()
cur.execute('''CREATE TABLE gtw49 AS 
               SELECT desig, ra, dec, m3_6, m4_5, m5_8, m8_0, m24, mJ, mH, mKs,
               dm3_6, dm4_5, dm5_8, dm8_0, dm24, dmJ, dmH, dmKs, 
               m3_6 - m4_5 AS c3645, 
               m3_6 - m5_8 AS c3658,
               m3_6 - m8_0 AS c3680, 
               m4_5 - m5_8 AS c4558,
               m4_5 - m8_0 AS c4580,
               m5_8 - m8_0 AS c5880,
               mH - mKs AS cHK,
               mJ - mH AS cJH,
               mKs - m3_6 AS cK36,
               m3_6 - m24 AS c3624,
               m4_5 - m24 AS c4524,
               m5_8 - m24 AS c5824,
               m8_0 - m24 AS c8024,
               Type AS oType,
               Phase AS oPhase,
               f_Type AS of_Type,
               NULL AS Type, 
               NULL AS Phase, 
               NULL AS f_Type FROM gtw49_original''' )
cur.execute('''CREATE INDEX gtw49_desig ON gtw49 (desig)''')

In [14]:
mipsgal  = pd.read_csv('/home/kecai/w49/mipsgal.tbl', sep = '\s+', header = None, skiprows = 60, \
                       names = ['mdesig', 'ra', 'dec', 'm24', 'dm24', 'tdesig', 'gdesig', 
                                'mJ', 'dmJ', 'mH', 'dmH', 'mKs', 'dmKs',
                                'm3_6', 'dm3_6', 'm4_5', 'dm4_5', 'm5_8', 'dm5_8', 'm8_0', 'dm8_0'], \
                       na_values = 'null')
con = sql.connect('/home/kecai/w49/w49.db')
mipsgal.to_sql("mipsgal_original", con, if_exists = 'replace', index = False)
con.commit()

In [19]:
con = sql.connect('/home/kecai/w49/w49.db')
glimpse = pd.read_csv('/home/kecai/w49/glimpse.tbl', sep = '\s+', header = None, skiprows = 90, \
                      names = ['desig', 'ra', 'dec', 'dra', 'ddec', 
                                'mJ', 'dmJ', 'mH', 'dmH', 'mKs', 'dmKs', 
                                'm3_6', 'dm3_6', 'm4_5', 'dm4_5', 'm5_8', 'dm5_8', 'm8_0', 'dm8_0',
                                'fJ', 'dfJ', 'fH', 'dfH', 'fKs', 'dfKs', 
                                'f3_6', 'df3_6', 'f4_5', 'df4_5', 'f5_8', 'df5_8', 'f8_0', 'df8_0', 
                                'c36_45', 'c36_58', 'c36_80', 'c45_58', 'c45_80', 'c58_80'], \
                      na_values = 'null')
glimpse.to_sql("glimpse_original", con, if_exists = 'replace', index = False)
con.commit()

In [22]:
con = sql.connect('/home/kecai/w49/w49.db')
cur = con.cursor()
cur.execute('''CREATE TABLE glimpse AS SELECT desig, ra, dec, 
               mJ, dmJ, mH, dmH, mKs, dmKs, m3_6, dm3_6, m4_5, dm4_5, m5_8, dm5_8, m8_0, dm8_0 FROM glimpse_original''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 116))

OperationalError: table glimpse already exists