In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [26]:
df = pd.read_csv('/home/kecai/Downloads/test.tbl', sep = '\s+', header=None, skiprows=4, names=['RA','DEC'])
df

           RA       DEC
0  285.753714  8.225634
1  285.753219  8.247054
2  285.750680  8.291845
3  285.748412  8.348275
4  285.760166  8.069176
5  285.761017  8.098857
6  285.757809  8.128136
7  285.757011  8.144452
8  285.756485  8.186244
9  285.751875  8.272519

In [29]:
mopex_mini = pd.read_csv('/home/kecai/Downloads/r7283968out_overlap/mosaic_extract_mini.tbl', \
                         sep = '\s+', header = None, skiprows = 37, names = ['RA', 'DEC'], nrows=5)
mopex_mini

           RA       DEC
0  285.753714  8.225634
1  285.753219  8.247054
2  285.750680  8.291845
3  285.748412  8.348275
4  285.760166  8.069176